<p-toast></p-toast>
<ng-container *ngIf="item$ | async as item">
    <div class="flex">
        <p>Readtime: {{ item._document.readTime.timestamp.seconds * 1000 | date: 'shortDate' }}</p>
        <p>Created: {{ item._document.createTime.timestamp.seconds * 1000 | date: 'shortDate' }}</p>
    </div>
    <img *ngIf="item._document.data.value.mapValue.fields.url.stringValue"
        [src]="item._document.data.value.mapValue.fields.url.stringValue" alt="" width="200" height="200" />
    <dl>
        <dt>Name</dt>
        <dd>{{ item._document.data.value.mapValue.fields.name.stringValue }}</dd>
        <dt>Category</dt>
        <dd>{{ item._document.data.value.mapValue.fields.categoryName.stringValue }}</dd>
        <dt *ngIf="item._document.data.value.mapValue.fields.note.stringValue">Note</dt>
        <dd *ngIf="item._document.data.value.mapValue.fields.note.stringValue">{{ item._document.data.value.mapValue.fields.note.stringValue }}</dd>
    </dl>
    <p-button label="Add to cart" (onClick)="addToCart(item._document.data.value.mapValue.fields)" />
</ng-container>